@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 class="text-center">@ViewBag.Title.</h1>
</hgroup>
<div class="text-center">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
